.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  background-color: darkgrey;
  float: left;
  padding: 10px;
  height: 300px;
  width: 20%;
  
}

/* Create two unequal columns that floats next to each other */
.main {
  float: left;
  padding: 10px;
  width: 65%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.selectPlay {
  padding: 1em;
  margin-bottom: 1em;
}

.buttonPlay {
  width: 70px;
  height: 40px;
  color:forestgreen;

}

.buttonSecrete {
  width: 150px;
  height: 40px;
  color:forestgreen;
  
}

.inputBigger {
  padding: 1em;
  margin-bottom: -2em;
  margin-top: 2em;
  font-size: medium;
  margin-left: 0.5em;
}


